<div class="centered-content">
  <div class="login-box">
    <h1 class="title">Login</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input"
          autofocus
          type="email"
          placeholder="Email"
          #email
        />
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icon">
        <input class="input" type="password" placeholder="Password" #password />
      </p>
    </div>
    <div class="btn-control">
      <button
        class="login-btn"
        type="submit"
        (click)="onLoginButtonClicked(email.value, password.value)"
      >
        Login
      </button>
    </div>
    <br>
    <p class="has-text-grey">Not got an account? <a routerLink="/signup">Sign up</a> now!</p>
  </div>
</div>
